# Dependencies
node_modules/
*/node_modules/

# Build
frontend/dist/

# Env files (NUNCA subir al repo)
backend/.env
*.env

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Vite
frontend/.vite/
